:root {
  --bg-color: #f1f1f1;
  --text-color: #222;
  --element-bg: #f1f1f1;
  --hover-bg: rgba(0, 0, 0, 0.3);
  --border-color: black;
  --track-bg: #f1f1f1;
  --thumb-bg: black;
}

/* Dark Mode Override */
body.dark {
  --bg-color: #282828;
  --text-color: #FFFAFA;
  --element-bg: #282828; 
  --hover-bg: rgba(255, 255, 255, 0.3);
  --border-color: #f1f1f1;
  --track-bg: #282828;
  --thumb-bg: white; 
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--bg-color);
  color: var(--text-color);
  --toggle-active-bg: #1E232A;
  --toggle-inactive-bg: #f1f1f1;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  height: 100vh;
}

.add-task {
  padding: 30px 50px;
}

.add-task input {
  padding: 8px;
  width: 400px;
  font-size: 16px;
  border-width: 1px 0px 1px 1px;
  border-color: var(--border-color);
  border-style: solid;
}

.add-task input:focus {
  outline: none;
}

.add-task button {
  border: 1px solid var(--border-color);
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-task button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}


.scroll-container {
  height: 400px; 
  overflow-y: scroll; 
  margin-bottom: 80px;
  border: 2px solid var(--border-color);
}

.scroll-container::-webkit-scrollbar {
  width: 8px; 
}

.scroll-container::-webkit-scrollbar-track {
  background: var(--track-bg); 
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--thumb-bg); 
}


.task {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin: 2px;
  border: 2px solid var(--border-color);
  background-color: var(--element-bg);
  -webkit-box-shadow: -1px 1px 4px 1px rgba(0,0,0,0.22);
-moz-box-shadow: -1px 1px 4px 1px rgba(0,0,0,0.22);
box-shadow: -1px 1px 4px 1px rgba(0,0,0,0.22);
}

.task p {
  width: 300px;
  text-align: start;
  padding: 10px;
  font-weight: 600;
  font-size: large;
  background-color: var(--element-bg);
}


.taskButtons  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}

.editInput {
  width: 300px;
  margin-right: 10px;
  border: 1px solid var(--border-color);
  padding: 5px 4px 4px 4px;
}

.editInput:focus {
  outline: none;
}

.editTask {
  border: 1px solid var(--border-color);
  padding: 5px 4px 4px 4px;
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
  margin: 5px;
}

.editTask:hover {
  background-color: var(--hover-bg);
}


.saveEdit {
  border: 1px solid var(--border-color);
  padding: 5px 4px 4px 4px;
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
}

.saveEdit:hover {
  background-color: var(--hover-bg);
}

.completeTask {
  font-size: 14px;
  padding: 4px 6px;
  background-color: var(--element-bg);
  border: none;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.completeTask:hover {
  background-color: var(--hover-bg)
}


.deleteTask {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 6px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
  margin: 5px;
}

.deleteTask:hover {
  background-color: var(--border-color);
  color: var(--bg-color)
}


.delete-all-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border: 1px solid var(--border-color);
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.delete-all-button:hover {
  background-color: rgb(200, 47, 47);
  color: rgb(0,0,0);
}

.delete-all-button:active {
  background-color: rgb(179, 13, 13);
  color: rgb(0,0,0);
}



.datetime {
  font-size: 32px;
  font-weight: 600;
}

.toggle-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
}

/* React Toggle Styles (customize as needed) */
.react-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.react-toggle::after { /* Tooltip pseudo-element */
  content: "change theme"; /* Tooltip text */
  visibility: hidden; /* Initially hidden */
  opacity: 0;
  position: absolute;
  top: -60px; /* Adjust position as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-color); /* Customize background */
  color: var(--text-color); /* Customize text color */
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  transition: visibility 0.5s, opacity 0.3s ease-in-out;
}

.react-toggle:hover::after {
  visibility: visible;
  opacity: 1;
}

.react-toggle-screenreader-only {
  border: 1px;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--checked .react-toggle-track {
  background-color: var(--toggle-active-bg);
  border: 2px solid white;

}

.react-toggle-track {
  width: 60px;
  height: 28px;
  padding: 0;
  border-radius: 30px;
  border: 2px solid ;
  background-color: var(--toggle-inactive-bg); /* Customize inactive background */
  transition: all 0.5s ease;
}

.react-toggle-track-check {
  display : none;
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.react-toggle-track-x::before {
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white; 
  box-sizing: border-box;
}

.react-toggle--checked .react-toggle-thumb {
  left: 36px;
  background-color: black;
  border: 2px solid white;
}

.react-toggle-track-check::before {
  content: ""; 
  font-size: 16px; 
  color: var(--text-color); 
  background-color: white;
  transition: all 0.5s ease; 
}

.react-toggle-track-x::before {
  content: ""; /* Sun icon (Unicode) */
  font-size: 18px; /* Adjust size */
  color: var(--text-color);
  background-color: white;
  transition: all 0.5s ease; 
}

@media (max-width: 1060px) {
  .add-task input {
    border-width: 1px;
    margin: 5px;
  }

  .add-task {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .scroll-container{
    height: 320px;
  }
}

@media (max-width: 564px) {
  .add-task input {
    border-width: 1px;
    margin: 5px;
    width: 300px
  }

  .add-task {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .task {
    width: 400px;
    padding: 0px 10px;
  }

  .taskButtons  {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    width: 120px;
  }

  .task p {
    width: 260px;
  }




}